.exercise-button {
  width: 100px;
  height: 100px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
}

.variant-1 {
  background-color: #9ad1d4ff;
  color: #20063bff;
}

.variant-2 {
  background-color: #62c370ff;
  color: white;
}

.variant-3 {
  background-color: #cc3363ff;
  color: white;
}

.variant-4 {
  background-color: #20063bff;
  color: white;
}

.variant-5 {
  background-color: #c2f9bbff;
  color: #20063bff;
}
