/*
Pallette: https://coolors.co/c2f9bb-9ad1d4-62c370-cc3363-20063b 
--tea-green: #c2f9bbff;
--powder-blue: #9ad1d4ff;
--emerald: #62c370ff;
--dogwood-rose: #cc3363ff;
--russian-violet: #20063bff;
*/

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans", sans-serif;
  color: #20063bff;
}

h1 {
  display: inline;
}

a {
  color: #62c370ff;
}

button:focus {
  outline: 0;
}
